.userImg {
  position: relative;
  min-width: 1.5rem;
  min-height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.userImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.available {
  position: absolute;
  bottom: -4px;
  right: -3px;
  width: 12px;
  height: 12px;
  background-color: gainsboro;
  border-radius: 50%;
  border: 2px solid white;
}

.active {
  background-color: var(--color-yellow);
}
